<% layout('layouts/db') %>
<body class="dashboard-body">
    <%- include('../partials/navbars/admin-sidebar') %>
    <div class="dashboard-container">
        <p class="dashboard-location"><%= currentUser.username %> >> Messages</p>
        <div class="dashboard-content">
            <h1 class="dashboard-title">Messages</h1>
            <ul class="dashboard-list">
                <li>Here will be a list of the all the messages in order.</li>
            </ul>
        </div>
    </div>