<footer class="footer">
    <div class="links">
      <div class="info-pages link-section">
          <a href="/faq" class="footer-text">FAQ</a>
          <a href="" class="footer-text">Blog</a>
      </div>
      <div class="policies link-section">
          <a href="" class="footer-text">Privacy Policy</a>
          <a href="" class="footer-text">Terms of Service</a>
      </div>
      <div class="socials">
          <a href="https://www.facebook.com/soniskastudio/" target="_blank"><i class="fab fa-facebook-f footer-text"></i></a>
          <a href=""><i class="fab fa-spotify footer-text"></i></a>
          <a href=""><i class="fab fa-instagram footer-text"></i></a>
      </div>
    </div>
    <div class="footer-logo">
        <img class="footer-img" src="imgs/logo.png" alt="">
        <p class="footer-name">SONISKA</p>
        <p class="footer-copyright">&#169;Copyright 2021 Soniska AB. All rights reserved.</p>
    </div>
</footer>