<% layout('layouts/info') %>
<body class="pricing-body">
    <div class="pricing-container">
        <h1 class="pricing-title">The Details...</h1>
        <div class="mastering-pricing">
            <h2 class="pricing-subtitle">Full Mastering Price List</h2>
            <p></p>
            <div class="tables">
                <table class="pricing-table">
                    <thead>
                        <tr>
                            <th># of Songs</th>
                            <th> Price Per Song</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>750<span class="currency">kr</span></td>
                            <td>750<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>650<span class="currency">kr</span></td>
                            <td>1300<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>550<span class="currency">kr</span></td>
                            <td>1650<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>450<span class="currency">kr</span></td>
                            <td>1800<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>420<span class="currency">kr</span></td>
                            <td>2100<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>400<span class="currency">kr</span></td>
                            <td>2400<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>380<span class="currency">kr</span></td>
                            <td>2660<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>360<span class="currency">kr</span></td>
                            <td>2880<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>340<span class="currency">kr</span></td>
                            <td>3060<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>320<span class="currency">kr</span></td>
                            <td>3200<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>11+</td>
                            <td>300<span class="currency">kr</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table class="pricing-table">
                    <thead>
                        <tr>
                            <th>Extra/Add Ons</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stem Mastering</td>
                            <td>+300<span class="currency">kr</span>/song</td>
                        </tr>
                        <tr>
                            <td>Extra Edits - Instrumental - Sing Back</td>
                            <td>+150<span class="currency">kr</span>/edit</td>
                        </tr>
                        <tr>
                            <td>Apple Digital Master</td>
                            <td>+100<span class="currency">kr</span>/song</td>
                        </tr>
                        <tr>
                            <td>DDP</td>
                            <td>+300<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>Vinyl Pre Master</td>
                            <td>+300<span class="currency">kr</span></td>
                        </tr>
                        <tr>
                            <td>Emergency 24h Delivery</td>
                            <td>+750<span class="currency">kr</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="post-pricing">
            <h2 class="pricing-subtitle">Film / TV / Media / Post / Surround</h2>
            <p>Depends on the project and deadline but we lay around 3000<span class="currency">kr</span> + Moms per day or 500<span class="currency">kr</span>+moms/hour</p>
        </div>
    </div>
