<div class="dashboard-sidebar">
    <ul class="sidebar-list">
        <li><a class="sidebar-link" href="/admin"><span><i class="fas fa-home sidebar-icon"></i></span> Overview</a></li>
        <li><a class="sidebar-link" href="/admin/newuploads"><span><i class="fas fa-cloud-upload-alt sidebar-icon"></i></span> New Uploads</a></li>
        <li><a class="sidebar-link" href="/admin/inprogress"><span><i class="fas fa-spinner sidebar-icon"></i></span> In Progress</a></li>
        <li><a class="sidebar-link" href="/admin/completed"><span><i class="far fa-check-circle sidebar-icon"></i></span> Completed</a></li>
        <li><a class="sidebar-link" href="/admin/messages"><span><i class="far fa-envelope sidebar-icon"></i></span> Messages</a></li>
        <li><a class="sidebar-link" href="/admin/users"><span><i class="far fa-user-circle sidebar-icon"></i></span> Users</a></li>
    </ul>
</div>