<div class="dashboard-sidebar">
    <ul class="sidebar-list">
        <li><a class="sidebar-link" href="/account"><span><i class="fas fa-home sidebar-icon"></i></span> Overview</a></li>
        <li><a class="sidebar-link" href="/account/upload"><span><i class="fas fa-cloud-upload-alt sidebar-icon"></i></span> Upload</a></li>
        <li><a class="sidebar-link" href="/account/mysongs"><span><i class="fas fa-music sidebar-icon"></i></i></span> My Songs</a></li>
        <li><a class="sidebar-link" href="/account/messages"><span><i class="far fa-envelope sidebar-icon"></i></span> Messages</a></li>
    </ul>
</div>