<% layout('layouts/user') %>
<body class="user-body signedup-body">
    <div class="user-container">
        <div class="user-main-contents">
            <h1 class="user-title signedup-title">Thanks for signing up!</h1>
            <p class="user-lead">You will receive a confirmation email shortly.</br></br>
            For now, please continue back to our home page where you can begin adding files to be mastered.</p>
            <p class="user-lead"><a href="/" class="user-link">Home</a></p>
        </div>
    </div>
</body>